body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(180deg, #A8DADC, #F1FAEE 63%,  #A8DADC);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

.j-card {
  margin: 20px;
  background-color: transparent
}

.j-card-image {
  border-radius: 10px;
  width: 300px;
  height: 480px;
  box-shadow: 0px 0px 3px 1px #ccc;
}

.j-card-info {
  margin-top: 10px;
  min-height: 100px;
}

.j-card-title {
  font-size: 24px;
  margin: 0px;
}

.j-card-sub-title {
  font-size: 16px;
  margin: 0px;
}

.success-msg {
  color: #57A773;
  padding: 10px 15px;
}


.err-msg {
  color: #EE6352;
  padding: 10px 15px;
}

.resume {
  padding-top: 20px;
}

.resume-card__heading,
.resume-language__heading {
  margin-left: 10px;
  font-size: 1.8rem;
  font-weight: 700;
  color: #354538;
}

.resume-card__body {
  margin-top: 10px;
}

.resume-card__title {
  font-weight: 700;
}

.resume-card__name {
  font-size: 16px;
}

.resume-card__details {
  font-size: 0.9rem;
  padding-top: 5px;
}

.bar {
  width: 100%;
  background-color: #f1f2f3;
  border-radius: 20px;
  margin-bottom: 12px;

}

.bar__icon {
  width: 25px;
  height: 25px;
}

.bar__wrapper {
  background-image: linear-gradient(90deg, #69585f, #ef959d);
  border-radius: 20px;
  padding: 4px 14px;
  color: #fff;
  font-size: 0.9rem
}
.background-red {
  background-color: red;
}

.projects {
  height: 80vh;
  padding-top: 30px;
  overflow-y: auto;
}

.projectCard__wrapper {
  margin: 10px 0;
  width: 100%;
  height: 100%;
  min-height: 160px;
}

.projectCard__image {
  width: 100%;
  height: 80%;
  border-radius: 30px;
  border: 2px solid #6CDDE0;
  transition: transform 0.3s linear;
}

.projectCard__image:hover {
  transform: scale(1.05);
}

.projectCard__icon {
  width: 25px;
  height: 25px;
  margin-right: 5px;
}

.projectCard__title {
  margin-top: 12px;
  font: size 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.projects__navbar {
  display: flex;
  margin-bottom: 5px;
  border-radius: 30px;
  border: 2px solid #6CDDE0;
  transition: transform 0.3s linear;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(90deg, #6CDDE0, #6CDDE0);
}

.projects__navbar>div {
  margin: 0 5px;
  font-size: 1rem;
  cursor: pointer;
}

.footer__css {
  position:absolute;
  bottom:0;
}

.containerC {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.main-content {
  flex: 1;
}